$base-color: #FDF8F5;

$complementary-1: #FF8133;
$complementary-2: #F76E19;
$complementary-3: #00A7AB;
$complementary-4: #19F2F7;

$monochromatic-1: #F9C6A7;
$monochromatic-2: #F7F3F0;
$monochromatic-3: #785F50;
$monochromatic-4: #C4C1BE;

$white: #FFFFFF;

